$default-font-size = 16

$em( value, baseValue = $default-font-size ) {
	var u = unit(value);
	return (u is 'px') ? unit(value/baseValue, 'em') : unit(value, u)
}

$rem( value, baseValue = $default-font-size ) {
	var u = unit(value);
	return (u is 'px') ? unit(value/baseValue, 'rem') : unit(value, u)
}
color_brand_white       = #fff
color_brand_black       = #000
color_brand_red         = #f00
color_dark_blue         = #17479e
color_light_blue        = #53c0ef
color_brand_light_blue  = #e2eaf4
color_brand_light_blue2 = #c6d7ea
color_brand_blue_dark   = #21409A
color_brand_blue        = #5e95c9
color_brand_blue2       = #66a1de
color_light_blue_2      = #4967AB
color_light_blue_3      = #6196CE
color_light_blue_4      = #70ACDD
color_light_blue_5      = #8AC1E9
color_light_blue_6      = #AED9F5
color_light_blue_7      = #456cb1
color_brand_blue_bell   = #9c9fd2
color_light_grey        = #cccccc
color_light_grey_2      = #D6D6D6
color_light_grey_3      = #e0dfdf
color_light_grey_4      = #eeeae9
color_light_grey_5      = #eeeef9
color_light_grey_6      = #e2e3f2
color_brand_light_gray  = #E0E0E0
color_dark_grey         = #666666
color_aptamil_purple    = #9799cb
color_aptamil_purple_2  = #DDDEEF
color_brand_orange      = #ffc900
color_brand_light_yellow= #fffda9
color_brand_yellow      = #fffb78
color_brand_light_gray1 = #e5e5e5
color_brand_light_gray2 = #f5f5f5
color_brand_green       = #009b78
color_brand_light_green = #e0fee1
color_brand_blue_8      = #5f95c9
color_brand_blue_9      = #66a1dd
$backgroundColour = color_brand_white
$borderColour = color_dark_blue
$path = '../../shared/images/'

setTooltipColour($backgroundColour, $borderColour, $opacity)
	border-color $borderColour
	background rgba($backgroundColour, $opacity)
	&.right
		&:before
			border-right-color $borderColour
		&:after
			border-right-color rgba($backgroundColour, $opacity)
	&.left
		&:before
			border-left-color $borderColour
		&:after
			border-left-color rgba($backgroundColour, $opacity)
	&.top
		&:before
			border-top-color $borderColour
		&:after
			border-top-color rgba($backgroundColour, $opacity)
	&.bottom
		&:before
			border-bottom-color $borderColour
		&:after
			border-bottom-color rgba($backgroundColour, $opacity)

.ah-tooltip
	opacity 0
	pointer-events none
	&.show
		opacity 1
		pointer-events auto
		z-index 1
		transition 100ms opacity linear
	.tooltip
		position absolute
		padding $rem(15px)
		background $backgroundColour
		border $rem(1px) solid $borderColour
		z-index 1
		&:before
		&:after
			content ''
			position absolute
			width 0
			height 0
			border-style solid
			background transparent
			transform-origin center
		&:before
			border-width $rem(17px)
		&:after
			border-width $rem(16px)
		&.right
		&.left
			transform translate3d(0,-50%,0)
			&:before
			&:after
				top 50%
		&.right
			left 100%
			&:before
			&:after
				left 0
				transform translate3d(-100%, -50%, 0)
			&:before
				border-color transparent $borderColour transparent transparent
			&:after
				border-color transparent $backgroundColour transparent transparent
		&.left
			right 100%
			&:before
			&:after
				right 0
				transform translate3d(100%, -50%, 0)
			&:before
				border-color transparent transparent transparent $borderColour
			&:after
				border-color transparent transparent transparent $backgroundColour
		&.top
		&.bottom
			transform translate3d(-50%,0,0)
			&:before
			&:after
				left 50%
		&.top
			bottom 100%
			&:before
			&:after
				bottom 0
				transform translate3d(-50%, 100%, 0)
			&:before
				border-color $borderColour transparent transparent transparent
			&:after
				border-color $backgroundColour transparent transparent transparent
		&.bottom
			top 100%
			&:before
			&:after
				top 0
				transform translate3d(-50%, -100%, 0)
			&:before
				border-color transparent transparent $borderColour transparent
			&:after
				border-color transparent transparent $backgroundColour transparent
		&.yellow
		&.light-blue
		&.light-yellow
			&:before
				border $rem(13px) solid transparent
			&:after
				border $rem(12px) solid transparent
		&.yellow
			setTooltipColour(color_brand_yellow, color_brand_orange, .95)
		&.light-blue
			setTooltipColour(color_brand_light_blue, color_brand_blue, .95)
		&.light-yellow
			setTooltipColour(color_brand_light_yellow, color_brand_orange, .95)
		.tooltip-item
			position relative
			padding-left $rem(94px)
			width 100%
			.arrow
			.item-type
				top 50%
				transform translate3d(0, -50%, 0)
			.arrow
				left 0
			.item-type
				left $rem(45px)

button.minus
	position absolute
	width $rem(35px)
	height $rem(35px)
	background url($path + 'minus.png') 0 0 / 100% auto no-repeat