color_blue        = #5e95c9
color_orange      = #ffc900
color_light_yellow= #fffda9
color_yellow      = #fffb78
$backgroundColour = color_brand_white
$borderColour = #17479e

setTooltipColour($backgroundColour, $borderColour, $opacity)
	border-color $borderColour
	background rgba($backgroundColour, $opacity)
	&.right
		&:before
			border-right-color $borderColour
		&:after
			border-right-color rgba($backgroundColour, $opacity)
	&.left
		&:before
			border-left-color $borderColour
		&:after
			border-left-color rgba($backgroundColour, $opacity)
	&.top
		&:before
			border-top-color $borderColour
		&:after
			border-top-color rgba($backgroundColour, $opacity)
	&.bottom
		&:before
			border-bottom-color $borderColour
		&:after
			border-bottom-color rgba($backgroundColour, $opacity)

.tooltip-functionality
	opacity 0
	pointer-events none
	&.show
		opacity 1
		pointer-events auto
		z-index 1
		transition 100ms opacity linear
	.tooltip
		position absolute
		padding $rem(15px)
		background $backgroundColour
		border $rem(1px) solid $borderColour
		z-index 1
		&:before
		&:after
			content ''
			position absolute
			width 0
			height 0
			border-style solid
			background transparent
			transform-origin center
		&:before
			border-width $rem(17px)
		&:after
			border-width $rem(16px)
		&.right
		&.left
			transform translate3d(0,-50%,0)
			&:before
			&:after
				top 50%
		&.right
			left 100%
			&:before
			&:after
				left 0
				transform translate3d(-100%, -50%, 0)
			&:before
				border-color transparent $borderColour transparent transparent
			&:after
				border-color transparent $backgroundColour transparent transparent
		&.left
			right 100%
			&:before
			&:after
				right 0
				transform translate3d(100%, -50%, 0)
			&:before
				border-color transparent transparent transparent $borderColour
			&:after
				border-color transparent transparent transparent $backgroundColour
		&.top
		&.bottom
			transform translate3d(-50%,0,0)
			&:before
			&:after
				left 50%
		&.top
			bottom 100%
			&:before
			&:after
				bottom 0
				transform translate3d(-50%, 100%, 0)
			&:before
				border-color $borderColour transparent transparent transparent
			&:after
				border-color $backgroundColour transparent transparent transparent
		&.bottom
			top 100%
			&:before
			&:after
				top 0
				transform translate3d(-50%, -100%, 0)
			&:before
				border-color transparent transparent $borderColour transparent
			&:after
				border-color transparent transparent $backgroundColour transparent
		&.yellow
		&.light-blue
		&.light-yellow
			&:before
				border $rem(13px) solid transparent
			&:after
				border $rem(12px) solid transparent
		&.yellow
			setTooltipColour(color_yellow, color_orange, .95)
		&.light-blue
			setTooltipColour(lightblue, color_blue, .95)
		&.light-yellow
			setTooltipColour(color_light_yellow, color_orange, .95)
		.tooltip-item
			position relative
			padding-left $rem(94px)
			width 100%
			.arrow
			.item-type
				top 50%
				transform translate3d(0, -50%, 0)
			.arrow
				left 0
			.item-type
				left $rem(45px)

button.minus
	position absolute
	width $rem(35px)
	height $rem(35px)