-
	var text = {
		"headline": "<strong>The MAP</strong>: for some purposes",
		"lead_paragraph": "This is just a place holder, so you can see what the site would look like.",
		"blocks": [
			{
				"caption": "Some text",
				"content": {
					"text": [
						"Another text that is here in order to fill content",
						"Some text that is longer than the shortest one"
					],
					"tooltips_description": "Tooltips description:",
					"tooltips": [
						{
							"name": "First name",
							"text": [
								"Tooltip title <br>Some text for tooltip that should fill it all over."
							]
						},
						{
							"name": "Another",
							"text": [
								"Some text for tooltip that should fill it all over."
							]
						},
						{
							"name": "Third",
							"text": [
								"‘Some text for tooltip that should fill it all over."
							]
						}
					]
				}
			},
			{
				"caption": "This is example  of caption",
				"content": {
					"text": [
						"Some text that can be a description",
						"Some other description"
					],
					"tooltips_description": "Tooltips description:",
					"tooltips": [
						{
							"name": "Name",
							"text": [
								"Some text for tooltip."
							],
							"footnote": "+/- Some footnote"
						},
						{
							"name": "Another name",
							"text": [
								"Tooltip title <br>Some text for tooltip that should fill it all over."
							],
							"footnote": "+/- Another footnote"
						}
					]
				}
			},
			{
				"caption": "This is example  of caption that differs a little",
				"content": {
					"text": [
						"Mostly the same text",
						"Mostly the same text again"
					],
					"tooltips_description": "One or more of these descriptions:",
					"tooltips": [
						{
							"name": "Name again",
							"text": [
								"Some text, tex, and text."
							]
						},
						{
							"name": "Secondly",
							"text": [
								"Some enumerations, <br>separated by comma."
							]
						},
						{
							"name": "Third",
							"text": [
								"Simple text."
							]
						}
					]
				}
			},
			{
				"caption": "Here we are",
				"content": {
					"header": "HEADER",
					"text": [
						"Some text can be placed instead of this.",
						"(another text in brackets)",
						"<b>bold text</b>"
					]
				}
			}
		],
		"restart": "Restart",
		"steps": {
			"step1": {
				"introduction": {
					"caption": "Introduction introduction introduction introduction",
					"text": [
						"Text text text text",
						"Another text text text"
					],
					"blocks": {
						"description": "One, or often, more than one description:",
						"list": [
							"list",
							"item",
							"list"
						]
					}
				},
				"content": {
					"header": "Can be managed",
					"text": [
						"Text text only text",
						"(Text here is necessary)"
					]
				},
				"next": [
					{
						"text": "Exclusively <br>text"
					},
					{
						"text": "Next text text (text)"
					}
				]
			},
			"step2": {
				"introduction": {
					"caption": "Text that describes the topic (Text an texts)"
				},
				"content": {
					"header": "Next text text",
					"list": [
						"List item #1",
						"Item #2",
						"Third list item",
						"Here is the last one"
					],
					"text": [
						"If text - most of text will text"
					]
				},
				"next": [
					{
						"text": "Another <br>placeholder"
					},
					{
						"text": "Text – need more text"
					}
				]
			},
			"step3": {
				"introduction": {
					"caption": "Improvement - need to text the text"
				},
				"content": {
					"header": "Text here and there",
					"text": [
						"(to be done)"
					]
				},
				"next": [
					{
						"text": "Text <br>return"
					}
				],
				"resume": [
					{
						"caption": "No return of text"
					}
				]
			},
			"step4": {
				"introduction": {
					"caption": "Content return"
				},
				"content": {
					"header": "Return to the top again."
				},
				"next": [
					{
						"text": "If text: <br>TEXTTTEXT"
					},
					{
						"text": "Content <br>added"
					}
				]
			},
			"step5": {
				"introduction": {
					"caption": "Text here: TEXTTTEXT"
				},
				"content": {
					"header": "Text added 9-12 times",
					"text": [
						"<b>Text filling</b> is then needed to determine if text achieved",
						"Performing a text adding is dependent on the answer to the question: Does the text have <b>any text?</b>"
					]
				},
				"next": [
					{
						"text": "No Current <br>text"
					},
					{
						"text": "Current <br>text"
					},
					{
						"text": "History of <br>text <br>adding <br>any time"
					}
				]
			},
			"step6": {
				"introduction": {
					"caption": "Performing a text adding is dependent",
					"text": [
						"Mostly within minutes of text",
						"Mostly text"
					],
					"blocks": {
						"description": "One or more of these texts:",
						"list": [
							"LItem",
							"List",
							"Item too"
						]
					}
				},
				"content": {
					"sub_header": "Sub header",
					"header": "Extensively text",
					"text": [
						"(Initial choice, but some text may then need an <b>text</b> trial if not settling)",
						"Advise text to exclude all text from content",
						"Text testing needed.",
						"<b>If text confirmed (which may require a Text Challenge)</b> - Follow-up with text testing and later planned and Supervised Challenge to test for text",
						"Text referral required",
						"<b>If text to arrange is not in place - text</b>"
					]
				}
			},
			"step7": {
				"introduction": {
					"caption": "Follow-up with text testing caption",
					"text": [
						"Mostly text",
						"Initial choice, but some text"
					],
					"blocks": {
						"description": "Description:",
						"list": [
							"Some",
							"Another"
						]
					}
				},
				"content": {
					"sub_header": "Sub heaer text",
					"header": "Header",
					"text": [
						"Advise text to exclude all text",
						"Text:",
						"Follow-up with text testing",
						"Urgent dietetic referral"
					]
				}
			},
			"step8": {
				"introduction": {
					"caption": "Text do not settle"
				},
				"content": {
					"lists": [
						{
							"header": "Text still suspected:",
							"list": [
								"Refer to a text with an interest in text",
								"Consider a trial of <b>text</b>"
							]
						},
						{
							"header": "Text no longer suspected:",
							"list": [
								"Unrestricted text again",
								"Consider referral to general text"
							]
						}
					]
				}
			},
			"step9": {
				"introduction": {
					"caption": "Exclusively <br>Text"
				},
				"content": {
					"lists": [
						{
							"header": "Strict text",
							"list": [
								"Maternal supplements of text",
								"Refer to text",
								"If text - most content will text"
							]
						}
					]
				},
				"next": [
					{
						"text": "No <br>improvement"
					},
					{
						"text": "Improvement - need to confirm Text"
					}
				]
			},
			"step10": {
				"introduction": {
					"caption": "Improvement - need to confirm Text"
				},
				"content": {
					"header": "Home Challenge: text over period of one week",
					"text": [
						"(to be done between 2-4 lines)"
					]
				},
				"next": [
					{
						"text": "Text <br>return"
					}
				],
				"resume": [
					{
						"caption": "No return <br>of text: <br>TEXT"
					}
				]
			},
			"step11": {
				"introduction": {
					"caption": "Text return"
				},
				"content": {
					"header": "Exclude text containing text from material again."
				},
				"next": [
					{
						"text": "If text settle: <br>TEXT <br><small>If top-up text needed: Use an <b>text</b></small>"
					},
					{
						"text": "Text <br>do not settle"
					}
				]
			},
			"step12": {
				"introduction": {
					"caption": "Text do not settle"
				},
				"content": {
					"lists": [
						{
							"header": "Text still suspected:",
							"list": [
								"Need to consider other material text",
								"Refer to a text with an interest in text"
							]
						},
						{
							"header": "Text no longer suspected:",
							"list": [
								"Return to usual material text",
								"Consider referral to general text"
							]
						}
					]
				}
			},
			"step13": {
				"introduction": {
					"caption": "Text settle: TEXTTTEXTTEXT"
				},
				"content": {
					"header": "And no history at any stage of text",
					"text": [
						"(No need to check text or perform content Test)",
						"<b>Text at Home - using a content LADDER</b>",
						"To test for text"
					]
				},
				"back": {
					"text": "No Current Text"
				}
			},
			"step14": {
				"introduction": {
					"caption": "Text settle: TEXTTTEXTTEXT"
				},
				"content": {
					"header": "Check text Specific"
				},
				"back": {
					"text": "Current text"
				},
				"resume": [
					{
						"caption": "Negative",
						"text": [
							"And still no history at any stage of text",
							"<b>Text at Home -</b> using a content LADDER to test for text"
						]
					},
					{
						"caption": "Positive",
						"text": [
							"<b>Refer to a text with an interest in text</b>",
							"(A <b>text Challenge</b> may be needed)"
						]
					}
				]
			},
			"step15": {
				"introduction": {
					"caption": "Text settle: TEXTTEXTTEXT"
				},
				"content": {
					"header": "Text Specific Test needed"
				},
				"back": {
					"text":"History of text at any time"
				},
				"resume": [
					{
						"caption": "Negative",
						"text": [
							"Text"
						]
					},
					{
						"caption": "Positive",
						"text": [
							"(or texxt)",
							"<b>Refer to content</b>",
							"(A <b>text</b> may be needed)"
						]
					}
				]
			}
		}
	};