-
	var text = {
		"modules": [
			{
				"header": "Some data.<br> Another one",
				"text": "Here is the text that should describe the topic. Please click here to go to Front page."
			},
			{
				"header": "Other<br> Data",
				"text": "This is another description. Please click here to go to previous page."
			}
		],
		"info": [
			{
				"header": "Info<br> text",
				"text": "Description<br> of info text"
			},
			{
				"header": "Text",
				"text": "Some text that opens the tiopic."
			},
			{
				"header": "Another info",
				"text": "Here is the text that should describe the topic."
			},
			{
				"header": "Info",
				"text": "An info part text."
			}
		],
		"more_button": "See more"
	};