#front
	background url(../images/front/satellite.png) left 100px bottom 100px / 250px auto no-repeat, url(../images/front/front-background.jpg) center / auto 100%  no-repeat
	h1
	p
		text-align left
		color white
	h1
		font-family Audiowide
